* {
  margin: 0;
}

.main {
  background-color: #e5e5e5;
}

header {
  padding-top: 26px;
  padding-left: 5%;
  padding-right: 5%;
  height: 72px;
  background: #3e3c3c;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.app-bar {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-left {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: rotate(270deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: white;
}

footer ul li a {
  color: #505f79;
  text-decoration: none;
  margin-left: 10px;
}

a:hover {
  text-decoration: underline;
  color: #f55800;
}

footer ul {
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-right ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-right ul li {
  margin-left: 32px;
}

.icon-letter {
  width: 22px;
  height: 18px;
  border: 2px solid #67798e;
  box-sizing: border-box;
  border-radius: 4px;
}

.intro-page {
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% 50% 40%;
  align-items: center;
  justify-items: center;
  background: #1c1a19;
  height: 870px;
  width: 100%;
}

.intro-social-icon {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-items: start;
}

.fa-envelope-square {
  width: 22px;
  height: 18px;
}

.intro-social-icon ul {
  list-style: none;
}

.intro-social-icon ul li {
  margin-bottom: 20px;
}

.icon {
  color: #dbd8d7;
  text-decoration: none;
}

.intro-text {
  grid-column: 2/3;
  margin-left: 50px;
  z-index: 99;
  padding-right: 12px;
}

.intro-text h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 81px;
  color: #f55800;
}

.intro-text h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.about-text h2 {
  grid-column: 1/2;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 81px;
  color: #f55800;
  margin-bottom: 24px;
  margin-left: 142px;
}

.recent-work-model h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.intro-text h2:hover {
  transform: translate(10px);
}

.intro-text h1:hover {
  transform: translate(10px);
}

.intro-page p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
}

.body-first-project p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #091e42;
}

.context-projects-2 p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin-left: 15px;
}

.context-projects-3 p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin-left: 15px;
}

.about-text p {
  grid-column: 1/2;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  margin-bottom: 24px;
  margin-left: 142px;
}

.contact-text p {
  width: 455px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.recent-work-p {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.recont-work-btn {
  display: flex;
}

.recent-work-p p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
}

.intro-text p:hover {
  transform: translate(10px);
}

.background-img {
  background-image: url("/Portfolio-Desktop/img/Group.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 3/4;
  overflow: hidden;
  height: 700px;
  width: 650px;
}

.section-body {
  margin-top: 135px;
  background-color: #e5e5e5;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-content: center;
  justify-content: center;
  padding-bottom: 130px;
}

.body-text span {
  justify-self: center;
  align-self: center;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  float: left;
}

.body-text-line {
  width: 30%;
  margin-left: 15px;
  padding-top: 27px;
  border-bottom: solid 1px #212121;
  float: left;
}

.body-first-project {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 24px;
  margin-left: 24px;
  margin-right: 24px;
  justify-content: center;
  align-items: center;
}

.body-first-project img {
  margin-top: 113px;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: auto;
}

.body-first-project span {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.body-first-project p:hover {
  transform: translate(10px);
}

.context-projects-2 span {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-left: 12px;
}

.context-projects-3 span {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-left: 12px;
}

.body-first-project span:hover {
  transform: translate(10px);
}

.project-context {
  display: flex;
  flex-direction: column;
}

.context-projects-1 button {
  padding-left: 0;
  width: 100%;
  height: 48px;
  margin-bottom: 0;
  margin-top: 387px;
  background: #ff6b00;
  border: none;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.recent-work-p a {
  text-decoration: none;
  background-color: #f55800;
  width: 134px;
  text-align: center;
  align-items: center;
  padding-top: 5px;
  border: 1px solid #f55800;
  margin-right: 10px;
}

.body-context-button > button {
  width: 124px;
  height: 48px;
  background-color: #ff6b00;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
}

.body-context-button > button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
  color: #f55800;
}

.body-context-tag > ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.recent-work-model ul li {
  border: 1px solid #979493;
  margin-left: 5px;
  box-sizing: border-box;
  padding: 10px 12px;
  margin-bottom: 40px;
  margin-top: 12px;
}

.body-context-tag > ul li {
  font-style: normal;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid#8993A4;
  height: 40px;
  margin-left: 12px;
  box-sizing: border-box;
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #091e42;
  overflow-x: initial;
}

.context-projects-2 ul li {
  background: rgba(255, 255, 255, 0.24);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: white;
  border: none;
  height: 25px;
  margin-bottom: 22px;
  float: left;
  list-style: none;
  text-decoration: none;
  margin-left: 12px;
  padding: 12px 10px;
}

.context-projects-3 ul li {
  background: rgba(255, 255, 255, 0.24);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: white;
  border: none;
  height: 25px;
  margin-bottom: 22px;
  float: left;
  list-style: none;
  text-decoration: none;
  margin-left: 12px;
  padding: 12px 10px;
}

.about-language ul li {
  content: "\2022";
  color: white;
  line-height: 100px;
  font-size: 32px;
  margin-left: 12px;
  left: -10px;
}

.body-context-tag > ul li:hover {
  background-color: #f55800;
  color: white;
}

.body-context-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  margin-top: 24px;
  margin-left: 24px;
  grid-gap: 24px;
}

.context-projects-1 {
  background-image: url("./img/ImgPlaceholder1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 369px;
  height: 435px;
}

.context-projects-1:hover {
  transform: scale(1.1);
}

.context-projects-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: url("./img/placeholder3.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 369px;
  height: 435px;
}

.context-projects-3:hover {
  transform: scale(1.1);
}

.context-projects-1 button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  box-sizing: border-box;
}

.context-projects-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: url("./img/placeholder2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 369px;
  height: 435px;
}

.context-projects-2:hover {
  transform: scale(1.1);
}

.context-projects-2 span:hover {
  background-color: #f55800;
  color: white;
}

.context-projects-1 span:hover {
  background-color: #f55800;
  color: white;
}

.context-projects-3 span:hover {
  background-color: #f55800;
  color: white;
}

.context-projects-2 ul {
  padding: 0;
}

.context-projects-2 ul li:hover {
  background-color: #f55800;
  color: white;
}

.context-projects-3 ul {
  padding: 0;
}

.context-projects-3 ul li:hover {
  background-color: #f55800;
  color: white;
}

.section-about {
  padding-top: 200px;
  background: #262626;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
}

.about-text {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.about-background {
  grid-column: 2/3;
  background-image: url("./img/AboutGroup.png");
  background-repeat: no-repeat;
  height: 357px;
}

.about-button {
  grid-column: 1/2;
  width: 161px;
  height: 48px;
  background-color: #ff6b00;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  margin-left: 142px;
}

.about-button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  box-sizing: border-box;
}

.section-about hr {
  margin-left: 141px;
}

.about-language > ul li::before {
  content: "♦";
  color: #ff6b00;
  line-height: 100px;
  font-size: 32px;
  margin-left: 12px;
  position: relative;
  left: -10px;
}

.about-language > hr {
  width: 400px;
}

.about-language ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.sublist {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.section-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #e5e5e5;
  height: auto;
  margin: 0 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
}

input {
  border-width: 0 0 2px;
  border-color: #dbd8d7;
  background-color: #e5e5e5;
  height: 18px;
  width: 295px;
  margin-top: 39px;
}

input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

textarea {
  border: none;
  width: 327px;
  height: 114px;
  margin-top: 36px;
  margin-left: 24px;
  background: #fbf8f7;
}

textarea::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.button {
  background-color: #ff6b00;
  color: #fff;
  width: 131px;
  height: 48px;
  font-size: 17px;
  line-height: 24px;
}

.button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .section-contact {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 200vh;
  }

  .contact-text p {
    width: 100%;
  }

  nav {
    display: none;
  }

  .app-bar {
    display: flex;
    justify-content: space-between;
  }

  .app-bar-right {
    display: inline;
  }

  .intro-page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 220px;
  }

  .intro-social-icon {
    padding-top: 110px;
    grid-row: 2/3;
  }

  .intro-text {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .intro-social-icon ul {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .background-img {
    height: 200px;
    width: 250px;
    justify-self: self-end;
    left: 65%;
    right: -30.09%;
    top: 28%;
    bottom: -13.63%;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .body-context-projects {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    align-content: center;
  }

  .about-button {
    margin-left: 24px;
  }

  .about-text p {
    margin-left: 24px;
  }

  .about-text h2 {
    margin-left: 24px;
  }

  .section-about hr {
    margin-left: 24px;
  }

  .about-language ul {
    flex-direction: column;
  }

  .body-first-project {
    grid-template-columns: 1fr;
  }

  .body-text span {
    margin-left: 24px;
  }

  .recent-work-model-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1100px) {
  nav {
    display: none;
  }

  .app-bar {
    display: flex;
  }

  .intro-social-icon ul li {
    margin-left: 21px;
  }

  .app-bar-right {
    display: inline;
  }

  .intro-page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    padding-top: 220px;
  }

  .intro-text {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .intro-social-icon {
    padding-top: 139px;
    grid-row: 2/3;
  }

  .intro-social-icon ul {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .background-img {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: self-end;
    height: 200px;
    width: 250px;
    left: 65%;
    right: -30.09%;
    top: 28%;
    bottom: -13.63%;
  }

  .about-button {
    margin-left: 24px;
  }

  .about-text p {
    margin-left: 24px;
  }

  .about-text h2 {
    margin-left: 24px;
  }

  .section-about hr {
    margin-left: 24px;
  }

  .about-language ul {
    flex-direction: column;
    align-items: center;
  }

  .body-context-projects {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    align-content: center;
  }

  .body-text span {
    margin-left: 24px;
  }
}

@media (min-width: 1100px) {
  .recent-work-p a {
    margin-top: 20%;
  }
}

.mobile-menu-list {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 57px;
  background: #3c3a39;
  mix-blend-mode: normal;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  height: 100vh;
}

.margin-li {
  margin-top: 119px;
}

.mobile-menu-list-li {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  z-index: 1;
  color: #fff5e1;
  margin-bottom: 40px;
  border-bottom: 2px solid #6f6c6b;
  padding-bottom: 15px;
}

.modal1 {
  position: absolute;
  left: 90%;
  top: 5%;
  height: 12px;
  width: 12px;
}

.seeProject {
  padding-left: 0;
  width: 100%;
  height: 48px;
  margin-bottom: 0;
  background: #ff6b00;
  border: none;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.seeProject:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  box-sizing: border-box;
}

.recent-work-model {
  display: none;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ebecf0;
  margin: 24px 24px;
  padding: 24px 24px;
  box-shadow: 0 48px 48px 0 #252f8914;
}

.recent-work-model ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.recent-work-model ul li:hover {
  background-color: #f55800;
  color: white;
}

.recent-work-p a:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
  color: #f55800;
}

.recent-work-img img {
  width: 100%;
  height: auto;
}

.recent-work-model-container {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  justify-content: center;
  align-content: center;
  gap: 24px;
}

.icon2 {
  background-image: url("./img/btnmodelicon2.png");
  float: right;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon1 {
  background-image: url("./img/btnmodelicon1.png");
  background-repeat: no-repeat;
  float: right;
  width: 24px;
  height: 24px;
}

.modal2 {
  color: #67798e;
  padding-right: 12px;
  padding-bottom: 14px;
}

.recent-work-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modal-button {
  cursor: pointer;
}
